<section class="jo-header">
	<div class="jo-header__brand__wrapper">
        <nav>
            <ul>
                <li>
                	<a href="mailto:contact@jolly-app.com">Contact</a>
                </li>
            </ul>
        </nav>
				<a href="">
					<i class="fa fa-facebook"></i>
				</a>
				<a href="">
					<i class="fa fa-twitter"></i>
				</a>
	</div>
</section>
