@import "partials/base";
@import "vendor/lumx/lumx";

html, body {
    min-height:100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    position: relative;
    -webkit-font-smoothing:antialiased;
}

.old-IE {
    position: absolute;
    z-index: 1000;
    width: 100%;
    background: rgba(0,0,0, 0.7);
    color: #FFF;
    padding: 5px;
}

.jo-container {
    @include container;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
}

.jo-header {

    .jo-header__brand__wrapper {

        padding: 10px;
        color: #FFF;

        nav {
            float: right;
        }

        a {
            @include font-size(17px);
            color: #FFF;
            opacity: 0.8;
            font-family: LatoBold;
            text-decoration: none;
            text-transform: capitalize;
            padding-left: 10px;
        }

        a:hover {
            opacity: 1;
        }

        i {
          @include font-size(22px);
        }
    }
}

.jo-content {
    @include full;

    #jo-content-response {
        @include full;
        position: absolute;
        text-align: center;
        background: rgba(0,0,0,0.6);
        height: 50px;
        display: table;

        font-family: LatoLight;

        #jo-response {
            color: #FFF;
            display: table-cell;
            vertical-align: middle;
        }

        #jo-i-close {
            position: absolute;
            right: 10px;

            i {
                color: #FFF;
            }
        }
    }

    .jo-content__pre {
        img {
            margin: 0 auto;
            position: relative;
            top: 170px;
        }

        height: 700px;

        h1 {
            color: #FFF;
        }

        p {
            color: #FFF;
        }

        @include breakpoint($medium-devices) {
            height: 995px;
        }

        @include background-image('../images/2.jpg');

        .jo-content__pre-inner {
            position: relative;
            height: auto;
            top: 30%;
            color: #FFF;

            .jo-content__pre-inner__head {
                height: 160px;
                text-align: center;
                font-family: LatoBold;

                span {
                    @include font-size(20px);
                }
            }

            .jo-content__pre-inner__subscribe {
                position: relative;
                display: none;
                margin-top: 40px;
                @include clearfix;

                @include breakpoint($medium-devices) {
                    display: table;
                    @include push-compute(5, $total-columns);
                }

                height: 80px;
                background: rgba(0, 0, 0, 0.5);
                border-radius: 5px;

                form {
                    display: table-cell;
                    vertical-align: middle;

                    // Ugly, find somthing else
                    padding-left: 30px;

                    input[name="email"] {
                        @include breakpoint($medium-devices) {
                            @include span(4 of 5 no-gutters);
                        }

                        border-radius: 3px 0 0 3px;
                        border: solid 1px $input-border-color;
                        height: 40px;
                        text-indent: 10px;
                        @include font-size(14px);
                        color: #565a5c;
                        font-style: italic;

                        &:focus {
                            outline: none;
                            border-color: $grey-300;
                            box-shadow: 0 0 5px $grey-400;
                        }
                    }

                    button[type="submit"] {
                        @include font-size(14px);
                        outline: none;

                        @include breakpoint($medium-devices) {
                           @include span(1 of 5);
                        }

                        border-radius: 0 3px 3px 0;
                        border: none;
                        height: 40px;
                        background: $main-color;
                        color: #FFF;
                        border-bottom: solid 2px $purple-400;

                        &:hover {
                            background: $purple-300;
                        }
                    }

                    .jo-content__pre__subscribe__alert {
                        position: absolute;
                        bottom: 0;

                        span {
                            display: inline-block;
                            margin-bottom: 2px;
                        }

                        @include font-size(12px);
                        color: #FFF;
                    }
                }
            }

            .jo-content__pre-inner__next {
                @include full;

                @include breakpoint($medium-devices) {
                  margin-top: 60px;
                }

                img {
                    margin: 0 auto;

                    &:hover {
                        opacity: 0.7;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .jo-content__main {
        @include push-compute(4, $small-devices-columns);

        // breaks at $breakpoint
        @include breakpoint($medium-devices) {
            @include push-compute(9, $total-columns);
            @include clearfix;
        }

        .jo-content__intro {
            padding-top: 35px;
            text-align: center;

            h2 {
                color: $grey-800;
                text-align: center;
            }
        }

        .jo-content__presentation {
            padding-top: 10px;
            font-family: LatoLight;

            @include breakpoint($medium-devices) {
                height: 600px;
            }

            .jo-content__presentation--card {
                position: relative;
                font-family: sans-serif;
                height: 500px;

                p {
                    color: #FFF;
                }

                @include breakpoint($medium-devices) {
                    //display: none;
                    top: 35px;
                }

                h3 {
                    background: rgba(0, 0, 0, 0.7);
                    padding-left: 10px;
                }

                .jo-content__presentation--card__note {
                    width: 80px;
                    margin: auto;
                    margin-top: 192px;
                }
            }

            .jo-content__presentation--card:first-child {

                @include background-image('../images/video.png');

                @include breakpoint($medium-devices) {
                  @include push-compute(6, $total-columns);
                  @include clearfix;
                }

                i {
                  color: #FFF;
                  @include font-size(90px);

                  &:hover {
                    opacity: 0.8;
                    cursor: pointer;
                  }
                }

                span {
                  margin-left: -15px;
                  color: #FFF
                }
            }

            .jo-content__presentation--card:nth-child(2) {

                @include background-image('../images/aperitif-aperitivo-bar-1475.jpg');

                @include breakpoint($medium-devices) {
                    @include span(3 of 9);
                }
            }

            .jo-content__presentation--card:nth-child(3) {

                @include background-image('../images/lights-night-street-977.jpg');

                @include breakpoint($medium-devices) {
                    @include span(3 of 9 last);
                }

                p {
                    padding: 10px;
                    background: $amber-300;
                    border-radius: 2px;
                }
            }

            h2, h3 {
                color: #FFF;
                font-weight: 700;
            }
        }
    }

    .jo-content__concept {
        @include full;

        height: 1000px;
        background: $light-green-300;
        margin-top: 10px;
        //font-family: LatoLight;

        @include background-image('../images/3.png');

        h2 {
            padding: 30px 0 70px 0;
            text-transform: uppercase;
            color: #FFF;
            text-align: center;
        }

        #glass-svg {
          width: 55px;
          border-radius: 50%;
          padding: 8px;
          border: solid 1px #FFF;
          margin: 0 auto;

          img {
            width: 30px;
            margin: 0 auto;
          }
        }

        .jo-content__concept__block-quote {
            background: rgba(0,0,0,0.5);
            padding: 20px;
            border-radius: 5px;

            @include breakpoint($medium-devices) {
                @include push-compute(6, $total-columns);
            }

            p {
                color: #FFF;
                text-align: justify;
                padding: 25px;
            }
        }

        .jo-content__concept__out {
            color: #FFF;
            position: relative;
            top: 8%;

            @include breakpoint($medium-devices) {
                @include push-compute(6, $total-columns);
                top: 10%;
            }

            i {
                padding: 10px;
            }

            text-align: center;

        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FFFFFF;
}

.jo-footer {
    .jo-footer__wrap {
        text-align :center;
        padding: 30px;

        @include breakpoint($medium-devices) {
           @include push-compute(4, 8);
        }

        a,a:link,a:visited,a:hover,a:focus,a:active {
            color: #FFF;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        #jo-credits {
            margin-top: 8px;
            @include font-size(11px);
        }
    }
}

/*
    Basic style
*/

h1 {
    @include font-size(60px);
    font-family: LatoLight;
}

h2 {
    @include font-size(35px);
    font-family: LatoLight;
    font-weight: 600;
}

h3 {
    @include font-size(25px);
    font-weight: 600;
    font-family: LatoLight;
}

p {
    @include font-size(17px);
    color: $text-color;
}

input:-webkit-autofill {
    background-color: #FFF !important;
}
